@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
* {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.md-content {
  text-align: justify;
}

/* cor customizada na barra de navegação */
.md-header,
.md-tabs {
  background-color: #080812 !important; 
}